* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.header {
    position: relative;
    padding: 10px 150px 5px 150px;
}

.header i {
    margin-bottom: 15px;
    font-size:13px;
    font-weight: bold;
    border: 5px solid black;
    padding: 5px 5px;
    border-radius: 50%;
    background: black;
    color: yellow;
}

.header h1 {
    position: absolute;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-transform: capitalize;
    display: inline;
    padding-left: 5px;
    top: 12px;
}

.header .menu ul li {
    display: inline;
}

.header .menu a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.header .menu ul {
    padding-left: 20px;
    font-size: 15px;
}

.banner {
    background: url('./images/2.jpg');
    height: 100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 0px 5px 0px;
}
/* start__carousel */
.carousel{
    position: relative;
    padding: 50px 70px 70px 130px;
    /* height: 200px; */
}
.carousel .item__title h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 25px;
}
.carousel .container__carousel .item__img img{
    width: 35%;
    position: absolute;
    left: 50%;
    bottom: 50px;
}
.carousel .container__carousel .item__title button{
    padding:15px 30px;
    border-radius: 5px;
    border: none;
    margin: 30px 0px;
    background: #ffc800;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.carousel .container__carousel p{
    opacity: 0.8;
}
/* start-intro */
.intro {
    background: #f5f5f5;
    height: 140px;
    padding-left: 70px;
}
.container-intro {
    padding-top:53px;
    position: relative;
    margin-left: 100px;
    float: left;
    margin-right: 40px;
}

.intro .container-intro .intro_number h2 {
    font-size: 40px;
    position: absolute;
    right: 100%;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.intro .container-intro .intro_content p {
    font-size: 15px;
    margin: 0px 10px;
    padding-bottom: 5px;
}

/* start activities */
.activities { 
    margin:40px 0px;
    padding: 0px 100px;
}
.activities .list__icon {
    float: left;
    text-align: center;
    width: 25%;
    padding: 15px 10px 15px 10px;

}
.activities .container_activities .activities__title p{
    color:white;
    overflow: hidden;
    padding-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 15px;
}
.activities .list__icon .icon_content {
    background: #002147;
    border-radius: 5px;

}

.activities__icon {
    text-align: center;
}

.activities .list__icon .activities__icon i {
    font-size: 30px;
    padding: 40px 10px 10px 10px;
    color: white;
}
/* start content */
.content {
    height: 800px;
    background: #f5f5f5;
    margin-top: 70px;
}
.container__post {
    background: white;
    margin-left: 60px;
    padding: 40px ;
    margin-top: 40px;
    height: 450px;
}

.container__content h2{
    padding-bottom: 2px;
    padding-top: 10px;
    padding-left: 60px;
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 25px;
}
.container__content,
.container__events
{
    float: left;
    width: 50%;
    padding: 0 40px;
}
.content .frame__right h3{
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.content .frame__right span{
        color: rgba(128, 128, 128,0.7);
        font-size: 15px;
}
.content .frame__right p{
    padding-top: 10px;
}

.container__content button{
    padding:15px 30px;
    margin: 15px 0px 0px 440px;
    background: #ffc800;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.post__frame {
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(128, 128, 128,0.1);
    margin-bottom: 15px;
}

.post__frame:last-child {
    border-bottom: none;
}

.frame__left,
.frame__right{
    float: left;
    width: 50%;
}

.frame__left img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.container__events{
    margin-top: 95px;
}
.container__events h2{
    padding-bottom: 40px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.events__left,
.event__right{
    width: 20%;
    float: left;
}
.events__left .items__top{
    background:#ffc800 ;
    height: 15vh;
    padding:30px 10px 10px 40px ;
    border-radius: 5px 5px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#day{
    font-size: 23px;
    font-weight: bold;
}
#time{
    padding-top: 10px;
    margin:10px 0px 0px 120px;
    color: #042252;
}
.items__bottom{
    text-align: center;
    background: #032144;
    border-radius: 0px 0px 5px 5px;
}
.items__bottom p{
    padding: 10px 0px;
    color: white;
}
.container__content{
    padding-top: 90px;
}
.events__contact{
    padding: 20px;
    background: white;
    height: 200px;
    margin-top: 20px;
}
.events__contact .events__right p{
    padding-top: 20px;
}
.events__left{
    margin-right: 20px;
}
.container__events button{
    margin: 15px 0px 0px 440px;
    padding:15px 30px;
    background: #ffc800;
    border:none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
/* start footer */
.footer{
    height: 430px;
    background: #002147;
    padding: 40px 90px;
    color:white
}
.footer__contact,
.footer__featured,
.footer__quick{
    float: left;
    padding:0px 40px
}
.footer__contact{
    padding-top: 25px;
}
.location{
    padding: 30px 0px;
}
.phone{
    padding-top: 20px;
}
.email{
    padding-top: 20px;
}
.location__icon,
.location__title{
    float: left;
}
.phone__icon,
.phone__title{
    float: left;
}
.email__icon,
.email__title{
    float: left;
}
.location__icon{
margin-right: 10px;;
}
.phone__icon{
margin-right: 10px;;
}
.email__icon{
margin-right: 10px;;
}
.location__icon i{
color:#ffc800
}
.phone__icon i{
color:#ffc800
}
.email__icon i{
color:#ffc800
}
.footer__featured{
    margin-left: 35px;
    padding-top: 5px;
}
.footer__featured ul{
    padding-top: 30px;
    list-style: none;
}
.footer__featured li{
    margin-bottom: 15px;
}
.footer__quick{
    padding-top: 4px;
    padding-left: 200px;
    padding-bottom: 30px;
}
.footer__quick ul{
    list-style: none;
    padding-top: 30px;
}

.footer__quick li{
    margin-bottom: 15px;
}
.footer hr{
    text-align: center;
    width: 95%;
    opacity: 0.1;
}
/* start the end */
.the__end{
    padding:35px 35px;
}
.end__icon,
.end__info{
    float: left;
}
.end__info{
    padding-left: 5px;
}

















